$_text_color: #fffefd;
$_main_bg_color: #0c286f;
$_add_bg_color: #d59800;

// --accent-light-green-green: #5daa09;
// 	--accent-yellow-dark-orange: #d67c0b;
// 	--background-blue: #2b4a9e;
// 	--background-yellow: #d59800;
// 	--text-white: #fffefd;
// 	--text-stroke-dark-green: #126e14;
// 	--text-stroke-dark-blue: #0c286f;
// 	--text-stroke-dark-orange: #a25701;
// 	--additional-dark-blue: #1f408a;
// 	--additional-blured-blue: rgba(16, 50, 112, 0.44);
// 	--additional-orange: #ba6401;
// 	--additional-light-yellow: #f5ba18;
