$_text_color: #fdfeff;
$_main_bg_color: #2b4a9e;
$_light_green: #509900;
$_add_bg_color: #bd8b0f;
$_additional_light_yellow: #f5ba18;
$_yellow_dark_orange: #d67c0b;
$_hover_text_color: #ffddb2;
$_focus_text_color: #ffba66;
$_hover_btn_color: #438000;
$_focus_btn_color: #356600;
