$_text_color: #fdfeff;
$_main_bg_color: #2b4a9e;
$_light_green: #509900;
$_add_bg_color: #bd8b0f;
$_additional_light_yellow: #f5ba18;
$_yellow_dark_orange: #d67c0b;
$_hover_links: #ffddb2;
$_active_links: #ffba66;
$_hover_green: #438000;
$_active_green: #356600;
$_hover_orange: #bd6e0a;
$_active_orange: #a56009;
$_info_link-blue: #b2c8ff;
