<section>
  <div class="container about-container">
    <img
      class="about-img"
      src="../images/about/unicorn.png"
      alt="Unicorn"
      srcset="../images/about/unicorn.png 1x, ../images/about/unicorn@2x.png 2x"
    />
    <div class="about-wrapper">
      <h3 class="about-title">About This Game</h3>
      <p class="about-text">
        Toy Match 3D: Triple Match is an exciting puzzle adventure where you
        match, sort, and collect adorable 3D toy objects. Developed by Glowstorm
        Studios, this game is designed to train your mind, challenge your
        skills, and provide a fun, engaging experience. Find and pop up
        identical toys, clear the board, and advance through unique levels with
        increasing difficulty. If you love puzzle-solving and relaxing gameplay,
        Toy Match 3D is perfect for you!
      </p>
    </div>
  </div>
</section>
