<div class="cookies-modal">
  <div class="cookies-modal-content">
    <div class="container cookies-modal-wrap">
      <div class="cocookies-modal-text-wrap">
        <h2 class="cookies-modal-title">Cookies Policy</h2>
        <p class="cookies-modal-text">
          We use cookies to improve your experience on our website. By browsing
          this website, you agree to our use of cookies.
        </p>
      </div>
      <div class="cookies-modal-btn-wrap">
        <button class="cookies-accept-btn">Accept Cookies</button>
        <button class="cookies-decline-btn">Decline Cookies</button>
      </div>
    </div>
  </div>
</div>
