<section id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list accordion-container">
      <li class="faq-list-item ac">
        <div class="faq-wrapper ac-header">
          <h3 class="faq-quest">Do I need an internet connection?</h3>
          <button class="faq-btn ac-trigger" type="button">
            <img
              class="faq-icon"
              src="./images/faq/plus.png"
              alt="plus"
              srcset="./images/faq/plus.png 1x, ./images/faq/plus@2x.png 2x"
            />
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-text ac-text">No, you can play offline anytime.</p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <div class="faq-wrapper ac-header">
          <h3 class="faq-quest">How do I progress faster?</h3>
          <button class="faq-btn ac-trigger">
            <img
              class="faq-icon"
              src="./images/faq/plus.png"
              alt="plus"
              srcset="./images/faq/plus.png 1x, ./images/faq/plus@2x.png 2x"
            />
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-text ac-text">
            Complete levels, use boosters, and master your matching skills.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <div class="faq-wrapper ac-header">
          <h3 class="faq-quest">Are there different difficulty levels?</h3>
          <button class="faq-btn ac-trigger">
            <img
              class="faq-icon"
              src="./images/faq/plus.png"
              alt="plus"
              srcset="./images/faq/plus.png 1x, ./images/faq/plus@2x.png 2x"
            />
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-text ac-text">
            Yes! The game starts easy and gets progressively more challenging.
          </p>
        </div>
      </li>
      <li class="faq-list-item ac">
        <div class="faq-wrapper ac-header">
          <h3 class="faq-quest">What platforms is the game available on?</h3>
          <button class="faq-btn ac-trigger">
            <img
              class="faq-icon"
              src="./images/faq/plus.png"
              alt="plus"
              srcset="./images/faq/plus.png 1x, ./images/faq/plus@2x.png 2x"
            />
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-text ac-text">
            Toy Match 3D: Triple Match is available on Android and iOS.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
