<section>
  <div class="container">
    <h2 class="features-title">Feature Keys</h2>
    <ul class="features-list">
      <li class="features-list-item">
        <img
          class="feature-item-img"
          src="./images/features/candy@1x.png"
          alt="Candy"
          srcset="
            ./images/features/candy@1x.png 1x,
            ./images/features/candy@2x.png 2x
          "
        />
        <h3 class="feature-item-title">Triple Tile Matching</h3>
        <p class="feature-item-text">
          Match three identical toy objects and clear the board.
        </p>
      </li>
      <li class="features-list-item">
        <img
          class="feature-item-img"
          src="./images/features/heart@1x.png"
          alt="Candy"
          srcset="
            ./images/features/heart@1x.png 1x,
            ./images/features/heart@2x.png 2x
          "
        />
        <h3 class="feature-item-title">Stunning 3D Graphics</h3>
        <p class="feature-item-text">
          Enjoy high-quality visuals and vibrant animations.
        </p>
      </li>
      <li class="features-list-item">
        <img
          class="feature-item-img"
          src="./images/features/rocket@1x.png"
          alt="Candy"
          srcset="
            ./images/features/rocket@1x.png 1x,
            ./images/features/rocket@2x.png 2x
          "
        />
        <h3 class="feature-item-title">Hundreds of Unique Levels</h3>
        <p class="feature-item-text">
          Challenge yourself with progressively difficult puzzles.
        </p>
      </li>
      <li class="features-list-item">
        <img
          class="feature-item-img"
          src="./images/features/clock@1x.png"
          alt="Candy"
          srcset="
            ./images/features/clock@1x.png 1x,
            ./images/features/clock@2x.png 2x
          "
        />
        <h3 class="feature-item-title">No Time Limits</h3>
        <p class="feature-item-text">
          Play at your own pace and relax while solving puzzles.
        </p>
      </li>
      <li class="features-list-item">
        <img
          class="feature-item-img"
          src="./images/features/ball@1x.png"
          alt="Candy"
          srcset="
            ./images/features/ball@1x.png 1x,
            ./images/features/ball@2x.png 2x
          "
        />
        <h3 class="feature-item-title">Power-Ups & Boosters</h3>
        <p class="feature-item-text">
          Unlock special tools to overcome tricky levels.
        </p>
      </li>
      <li class="features-list-item">
        <img
          class="feature-item-img"
          src="./images/features/wi-fi@1x.png"
          alt="Candy"
          srcset="
            ./images/features/wi-fi@1x.png 1x,
            ./images/features/wi-fi@2x.png 2x
          "
        />
        <h3 class="feature-item-title">Offline Mode Available</h3>
        <p class="feature-item-text">
          Play anytime without an internet connection.
        </p>
      </li>
    </ul>
  </div>
</section>
