<footer class="footer">
  <ul class="footer-policies-list">
    <li class="footer-policies-list-item">
      <a class="footer-policies-link" href="./privacy-policy.html"
        >Privacy Policy</a
      >
    </li>
    <li class="footer-policies-list-item">
      <a class="footer-policies-link" href="./terms-conditions.html"
        >Terms & Conditions</a
      >
    </li>
    <li class="footer-policies-list-item">
      <a class="footer-policies-link" href="./cookies-policy.html"
        >Cookie Policy</a
      >
    </li>
    <li class="footer-policies-list-item">
      <p class="footer-policies-text">
        All Rights Reserved glowstormhub.com | 2025
      </p>
    </li>
  </ul>
</footer>
