<section id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <ul class="gallery-game-list">
      <li class="gallery-game-list-item">
        <!--  -->
        <picture>
          <source
            srcset="
              ./images/gallery/game-photo-1@1x.png 1x,
              ./images/gallery/game-photo-1@2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/game-photo-1-mob@1x.png 1x,
              ./images/gallery/game-photo-1-mob@2x.png 2x
            "
            media="(max-width:1199px)"
          />
          <img
            class="gallery-game-img"
            src="./images/gallery/game-photo-1-mob@1x.png"
            alt="Game photo 1"
          />
        </picture>

        <div class="gallery-text-wrap">
          <h3 class="gallery-game-photo-title">Match & Pop 3D Toys!</h3>
          <p class="gallery-game-photo-text">
            Find, match, and clear adorable toy objects.
          </p>
        </div>
      </li>
      <!--  -->
      <li class="gallery-game-list-item">
        <picture>
          <source
            srcset="
              ./images/gallery/game-photo-2@1x.png 1x,
              ./images/gallery/game-photo-2@2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/game-photo-2-mob@1x.png 1x,
              ./images/gallery/game-photo-2-mob@2x.png 2x
            "
            media="(max-width:1199px)"
          />
          <img
            class="gallery-game-img"
            src="./images/gallery/game-photo-2-mob@1x.png"
            alt="Game photo 2"
          />
        </picture>

        <div class="gallery-text-wrap">
          <h3 class="gallery-game-photo-title">Unlock Exciting Levels!</h3>
          <p class="gallery-game-photo-text">
            Progress through increasingly challenging puzzles.
          </p>
        </div>
      </li>
      <!--  -->
      <li class="gallery-game-list-item">
        <picture>
          <source
            srcset="
              ./images/gallery/game-photo-3@1x.png 1x,
              ./images/gallery/game-photo-3@2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/game-photo-3-mob@1x.png 1x,
              ./images/gallery/game-photo-3-mob@2x.png 2x
            "
            media="(max-width:1199px)"
          />
          <img
            class="gallery-game-img"
            src="./images/gallery/game-photo-3-mob@1x.png"
            alt="Game photo 3"
          />
        </picture>
        <div class="gallery-text-wrap">
          <h3 class="gallery-game-photo-title">
            Relax<br class="mobile-break" />
            & Enjoy!
          </h3>
          <p class="gallery-game-photo-text">
            Enjoy calming gameplay with no time limits.
          </p>
        </div>
      </li>
      <!--  -->
      <li class="gallery-game-list-item">
        <picture>
          <source
            srcset="
              ./images/gallery/game-photo-4@1x.png 1x,
              ./images/gallery/game-photo-4@2x.png 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./images/gallery/game-photo-4-mob@1x.png 1x,
              ./images/gallery/game-photo-4-mob@2x.png 2x
            "
            media="(max-width:1199px)"
          />
          <img
            class="gallery-game-img"
            src="./images/gallery/game-photo-4-mob@1x.png"
            alt="Game photo 4"
          />
        </picture>

        <div class="gallery-text-wrap">
          <h3 class="gallery-game-photo-title">Collect Unique Toys!</h3>
          <p class="gallery-game-photo-text">
            Discover and unlock new 3D toy collections.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
