<header class="header">
  <div class="header-wrap">
    <img
      class="logo"
      src="./images/logo/logo.png"
      alt="Logo"
      srcset="./images/logo/logo.png 1x, ./images/logo/logo@2x.png 2x"
    />

    <!-- ------ mobile ------- -->
    <button class="burger-menu open-modal" type="button">
      <svg
        class="burger-icon"
        aria-label="open menu icon"
        width="27"
        height="19"
      >
        <use href="./images/sprite.svg#burger"></use>
      </svg>
    </button>

    <!-- ------- desktop ------- -->

    <nav class="desk-nav">
      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="#home">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-link" href="#features">Features</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-link" href="#about">About</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-link" href="#gameplay">Gameplay</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-list-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
      </ul>
    </nav>

    <!-- <hr class="thin-line" />
  <hr class="thin-line" />
  <hr clas="" /> -->
    <!-- <svg class="line-icon" aria-label="line icon">
    <use href="../public/sprite.svg#line"></use>
  </svg> -->
  </div>
</header>
