<section class="home-section" id="home">
  <div class="container home-wrapper">
    <div class="home-container">
      <h1 class="home-title">Toy Match 3D: Triple Match</h1>
      <img
        class="home-img"
        src="./images/home/samsung.png"
        alt="Samsung mobile phone"
        srcset="./images/home/samsung.png 1x, ./images/home/samsung@2x.png 2x"
      />
      <a href="https://play.google.com" target="_blank" class="home-btn">
        <div class="btn-container">
          <img
            class="google-img"
            src="./images/home/google.png"
            alt="google play button"
            srcset="./images/home/google.png 1x, ./images/home/google@2x.png 2x"
          />
          <div class="text-container">
            <p class="btn-text">get it on</p>
            <p class="btn-google-text">Google Play</p>
          </div>
        </div>
      </a>

      <h3 class="unlock-text">Unlock the Magic of Puzzles!</h3>
      <p class="home-description">
        Dive into the ultimate world of toys and puzzles! Toy Match 3D: Triple
        Match offers an exhilarating experience where every match brings you
        closer to a treasure trove of delightful 3D toys. Train your brain,
        sharpen your focus, and enjoy endless fun with this exciting puzzle
        game. Are you up for the challenge? Download now and start your puzzle
        adventure!
      </p>
    </div>
  </div>
</section>
