<section>
  <div class="container">
    <h2 class="how-to-play-title">How to Play</h2>
    <ul class="how-to-play-list">
      <li class="how-to-play-item">
        <img
          class="how-to-play-img"
          src="../images/how-to-play/play-1@1x.png"
          alt="Game"
          srcset="
            ../images/how-to-play/play-1@1x.png 1x,
            ../images/how-to-play/play-1@2x.png 2x
          "
        />
        <div class="how-to-play-wrap">
          <h3 class="how-to-play-item-title">Match Triple Objects</h3>
          <p class="how-to-play-text">
            Find and tap three identical 3D toys to clear them.
          </p>
        </div>
      </li>
      <!--  -->
      <li class="how-to-play-item">
        <img
          class="how-to-play-img"
          src="../images/how-to-play/play-2@1x.png"
          alt="Game"
          srcset="
            ../images/how-to-play/play-2@1x.png 1x,
            ../images/how-to-play/play-2@2x.png 2x
          "
        />
        <div class="how-to-play-wrap">
          <h3 class="how-to-play-item-title">Clear the Board</h3>
          <p class="how-to-play-text">
            Match all objects before running out of space.
          </p>
        </div>
      </li>
      <!--  -->
      <li class="how-to-play-item">
        <img
          class="how-to-play-img"
          src="../images/how-to-play/play-3@1x.png"
          alt="Game"
          srcset="
            ../images/how-to-play/play-3@1x.png 1x,
            ../images/how-to-play/play-3@2x.png 2x
          "
        />
        <div class="how-to-play-wrap">
          <h3 class="how-to-play-item-title">Use Power-Ups</h3>
          <p class="how-to-play-text">
            Utilize boosters to help with challenging levels.
          </p>
        </div>
      </li>
      <!--  -->
      <li class="how-to-play-item">
        <img
          class="how-to-play-img"
          src="../images/how-to-play/play-4@1x.png"
          alt="Game"
          srcset="
            ../images/how-to-play/play-4@1x.png 1x,
            ../images/how-to-play/play-4@2x.png 2x
          "
        />
        <div class="how-to-play-wrap">
          <h3 class="how-to-play-item-title">Progress Through Levels</h3>
          <p class="how-to-play-text">
            Unlock new puzzles and toy collections as you advance.
          </p>
        </div>
      </li>
      <!--  -->
      <li class="how-to-play-item">
        <img
          class="how-to-play-img"
          src="../images/how-to-play/play-5@1x.png"
          alt="Game"
          srcset="
            ../images/how-to-play/play-5@1x.png 1x,
            ../images/how-to-play/play-5@2x.png 2x
          "
        />
        <div class="how-to-play-wrap">
          <h3 class="how-to-play-item-title">Enjoy Offline Play</h3>
          <p class="how-to-play-text">
            Have fun anytime, even without an internet connection.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
