<div class="mob-modal-overlay">
  <div class="mob-menu-modal">
    <ul class="mob-menu-list">
      <li class="mob-menu-list-item">
        <a class="mob-menu-link" href="#home">Home</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link" href="#benefits">Benefits</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link" href="#features">Features</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link" href="#about">About</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link" href="#gameplay">Gameplay</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link" href="#faq">FAQ</a>
      </li>
      <li class="mob-menu-list-item">
        <a class="mob-menu-link" href="#gallery">Gallery</a>
      </li>
    </ul>
    <div class="mob-btn-green-gradient">
      <a class="mob-menu-btn" href="https://play.google.com/store/apps/details?id=com.toy.match.game&hl=en&gl=us" target="_blank">
        <div class="mob-menu-btn-container">
          <img
            class="mob-menu-google-img"
            src="./images/home/google.png"
            alt="Google Play logo"
            srcset="./images/home/google.png 1x, ./images/home/google@2x.png 2x"
          />
          <div class="mob-btn-text-container">
            <p class="mob-btn-text">get it on</p>
            <p class="mob-btn-google-text">Google Play</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
