<section id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper">
      <div class="reviews-btns-wrap">
        <button class="reviews-btn reviews-prev-btn"></button>
        <button class="reviews-btn reviews-next-btn"></button>
      </div>
      <ul class="swiper-wrapper">
        <li class="swiper-slide reviews-list-item">
          <div class="orange-gradient">
            <div class="reviews-list-item-wrap">
              <div class="reviews-avatar-wrap">
                <img
                  class="reviews-avatar-img"
                  src="./images/reviews/avatar1@1x.png"
                  alt="User 1"
                  srcset="
                    ./images/reviews/avatar1@1x.png 1x,
                    ./images/reviews/avatar1@2x.png 2x
                  "
                />
                <h3 class="reviews-avatar-title">Jessica Carter</h3>
              </div>
              <p class="reviews-avatar-text">
                Absolutely addictive! I love matching the cute toys and the
                graphics are amazing.
              </p>
            </div>
          </div>
        </li>

        <li class="swiper-slide reviews-list-item">
          <div class="orange-gradient">
            <div class="reviews-list-item-wrap">
              <div class="reviews-avatar-wrap">
                <img
                  class="reviews-avatar-img"
                  src="./images/reviews/avatar2@1x.png"
                  alt="User 2"
                  srcset="
                    ./images/reviews/avatar2@1x.png 1x,
                    ./images/reviews/avatar2@2x.png 2x
                  "
                />
                <h3 class="reviews-avatar-title">Daniel Reynolds</h3>
              </div>
              <p class="reviews-avatar-text">
                A perfect puzzle game! It's fun, relaxing, and keeps me
                entertained for hours.
              </p>
            </div>
          </div>
        </li>

        <li class="swiper-slide reviews-list-item">
          <div class="orange-gradient">
            <div class="reviews-list-item-wrap">
              <div class="reviews-avatar-wrap">
                <img
                  class="reviews-avatar-img"
                  src="./images/reviews/avatar3@1x.png"
                  alt="User 3"
                  srcset="
                    ./images/reviews/avatar3@1x.png 1x,
                    ./images/reviews/avatar3@2x.png 2x
                  "
                />
                <h3 class="reviews-avatar-title">Sophia Lewis</h3>
              </div>
              <p class="reviews-avatar-text">
                Great brain exercise! The levels get harder but are super
                rewarding to complete.
              </p>
            </div>
          </div>
        </li>

        <li class="swiper-slide reviews-list-item">
          <div class="orange-gradient">
            <div class="reviews-list-item-wrap">
              <div class="reviews-avatar-wrap">
                <img
                  class="reviews-avatar-img"
                  src="./images/reviews/avatar4@1x.png"
                  alt="User 4"
                  srcset="
                    ./images/reviews/avatar4@1x.png 1x,
                    ./images/reviews/avatar4@2x.png 2x
                  "
                />
                <h3 class="reviews-avatar-title">Michael Turner</h3>
              </div>
              <p class="reviews-avatar-text">
                The 3D animations are beautiful! Playing this game is my
                favorite way to relax.
              </p>
            </div>
          </div>
        </li>

        <li class="swiper-slide reviews-list-item">
          <div class="orange-gradient">
            <div class="reviews-list-item-wrap">
              <div class="reviews-avatar-wrap">
                <img
                  class="reviews-avatar-img"
                  src="./images/reviews/avatar5@1x.png"
                  alt="User 5"
                  srcset="
                    ./images/reviews/avatar5@1x.png 1x,
                    ./images/reviews/avatar5@2x.png 2x
                  "
                />
                <h3 class="reviews-avatar-title">Olivia Martin</h3>
              </div>
              <p class="reviews-avatar-text">
                So much fun! The toy themes make it unique and enjoyable. Highly
                recommended!
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
