.about-img {
  // margin-bottom: 16px;
  @include media(desktop) {
    width: 375px;
    // position: absolute;
    // right: 52px;
  }
}

.about-title {
  font-weight: 700;
  font-size: 29px;
  line-height: 118%;
  margin-bottom: 16px;
  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 34px;
  }
}

.about-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 145%;
  @include media(desktop) {
    font-size: 19px;
  }
}

.about-wrapper {
  @include media(desktop) {
    padding: 86.5px 0;
    max-width: 657px;

    // margin-top: 86.5px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    // padding-top: 86.5px;
    // padding-bottom: 86.5px;
  }
}
