.faq-title {
  font-weight: 700;
  font-size: 29px;
  line-height: 118%;
  margin-bottom: 16px;
  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 36px;
  }
}
.faq-quest {
  font-weight: 700;
  font-size: 17px;
  line-height: 118%;
  max-width: 228px;
  @include media(desktop) {
    font-size: 24px;
    max-width: 1104px;
  }
}

.faq-text {
  font-size: 14px;
  line-height: 145%;
  margin-top: 8px;
  @include media(desktop) {
    font-size: 19px;
    margin-top: 16px;
  }
}

.faq-list-item {
  border-radius: 19px;
  padding: 14px;
  background: $_add_bg_color;
  @include media(desktop) {
    padding: 20px;
  }
}

.faq-list-item:not(:last-child) {
  margin-bottom: 10px;
  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.faq-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  align-self: flex-start;
}

.faq-icon {
  width: 25px;
  @include media(desktop) {
    width: 34px;
  }
}

.faq-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ac-panel {
  overflow: hidden;
}

// .faq-list-item.is-active .faq-btn .faq-icon {
//   content: url('../images/faq/minus.png');
// }

// @media only screen and (min-resolution: 2dppx) {
//   .faq-list-item.is-active .faq-btn .faq-icon {
//     content: url('../images/faq/minus@2x.png');
//   }
// }

// .faq-btn:hover .faq-icon {
//   content: url('../images/faq/plus-hover.png');
// }

// .faq-btn:focus .faq-icon {
//   content: url('../images/faq/plus-focus.png');
// }

.faq-btn .faq-icon {
  content: url('../images/faq/plus.png');
  transition: content 150ms ease-in-out;
}

/* Зображення при ховері */
.faq-btn:hover .faq-icon {
  content: url('../images/faq/plus-hover.png');
}

/* Зображення при фокусі */
.faq-btn:focus .faq-icon {
  content: url('../images/faq/plus-focus.png');
}

/* Зображення для активного стану (мінус) */
.faq-list-item.is-active .faq-btn .faq-icon {
  content: url('../images/faq/minus.png');
}

/* Зображення для активного стану і ховеру (мінус при ховері) */
.faq-list-item.is-active .faq-btn:hover .faq-icon {
  content: url('../images/faq/minus-hover.png');
}

/* Зображення для активного стану і фокусу (мінус при фокусі) */
.faq-list-item.is-active .faq-btn:focus .faq-icon {
  content: url('../images/faq/minus-focus.png');
}

/* Для високої роздільної здатності */
@media only screen and (min-resolution: 2dppx) {
  .faq-btn .faq-icon {
    content: url('../images/faq/plus@2x.png');
  }
  .faq-list-item.is-active .faq-btn .faq-icon {
    content: url('../images/faq/minus@2x.png');
  }
  .faq-btn:hover .faq-icon {
    content: url('../images/faq/plus-hover@2x.png');
  }
  .faq-btn:focus .faq-icon {
    content: url('../images/faq/plus-focus@2x.png');
  }
  .faq-list-item.is-active .faq-btn:hover .faq-icon {
    content: url('../images/faq/minus-hover@2x.png');
  }
  .faq-list-item.is-active .faq-btn:focus .faq-icon {
    content: url('../images/faq/minus-focus@2x.png');
  }
}
