.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f5b600;
}
.header-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  padding: 10px 16px 18px 16px;
  @include media(desktop) {
    max-width: 1200px;
    padding: 16px 28px 22px 28px;
    align-items: center;
  }
}

.logo {
  width: 30px;
  height: 30px;
  @include media(desktop) {
    width: 44px;
    height: 44px;
  }
}

.burger-menu {
  background-color: transparent;
  border: none;
  @include media(desktop) {
    display: none;
  }
}

.desk-nav {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

// .line-icon {
//   position: absolute;
//   left: 0%;
//   top: 1%;
//   color: #ba6401;
//   width: 100%;
// }

.header-nav-list {
  display: flex;
  gap: 60px;
}

.header-nav-link {
  @include media(desktop) {
    font-weight: 600;
    font-size: 19px;
    line-height: 1.45;
  }
}
