.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $_add_bg_color;
  border-bottom: 5px solid #ba6401;
}
.header-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  padding: 10px 16px 7.72px 16px;
  @include media(desktop) {
    max-width: 1200px;
    padding: 16px 28px 12px 28px;
    align-items: center;
  }
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  @include media(desktop) {
    width: 44px;
    height: 44px;
  }
}

.burger-menu {
  background-color: transparent;
  border: none;
  padding: 0;

  @include media(desktop) {
    display: none;
  }
}

.burger-icon {
  fill: #fdfeff;
  transition: color 150ms ease-in-out;
}

.burger-menu:hover .burger-icon {
  fill: $_hover_text_color;
}

.burger-menu:focus .burger-icon {
  fill: $_focus_text_color;
}

.desk-nav {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

.header-nav-list {
  display: flex;
  gap: 60px;
}

.header-nav-link {
  font-weight: 600;
  font-size: 19px;
  line-height: 1.45;
  transition: color 150ms ease-in-out;
}

.header-nav-link:hover {
  color: $_hover_text_color;
}

.header-nav-link:focus {
  color: $_focus_text_color;
}

.thin-line {
  width: 100%;
  border: 0;
  height: 0.73px;
  background-color: #ba6401;
  margin-top: 0;
  margin-bottom: 3.64px;
  @include media(desktop) {
    height: 1px;
    margin-bottom: 5px;
  }
}
