.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #f5b600;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 16px;
  padding-right: 16px;
  @include media(desktop) {
    // padding-top: 14px;
    // padding-bottom: 14px;
    // padding-left: 128px;
    // justify-content: flex-start;
  }
}

.burger-menu {
  background-color: transparent;
  padding: 0;
  border: none;
  @include media(desktop) {
    display: none;
  }
}

.desk-nav {
  display: none;
  @include media(desktop) {
    display: block;
  }
}

// .line-icon {
//   position: absolute;
//   left: 0%;
//   color: #ba6401;
// }

// .desk-nav {
//   display: none; // Приховуємо для мобільних і планшетів
//   @include media('desktop') {
//     display: block; // Відображаємо на десктопах
//   }
// }

// .burger-menu {
//   display: block; // Показуємо на мобільних і планшетах
//   @include media('desktop') {
//     display: none; // Приховуємо на десктопах
//   }
// }
