.mob-modal-overlay {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.mob-modal-overlay.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.mob-menu-modal {
  background-color: $_add_bg_color;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  min-width: 196px;
}

.mob-menu-list {
  margin-bottom: 35px;
}

.mob-menu-list-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 19px;
}

.mob-menu-list-item:last-child {
  margin-bottom: 0;
}

.mob-menu-link {
  transition: color 150ms ease-in-out;
}

.mob-menu-link:hover {
  color: $_hover_orange;
}

.mob-menu-link:focus {
  color: $_active_orange;
}

.mob-menu-btn {
  border-radius: 10px;
  padding: 11px 16px;
  display: block;
  background: $_light_green;
  border: none;
  transition: background-color 150ms ease-in-out;
}

.mob-menu-btn:hover {
  background-color: $_hover_green;
}

.mob-menu-btn:focus {
  background-color: $_active_green;
}

.mob-menu-btn-container {
  display: flex;
  min-width: 130px;
}

.mob-menu-btn:hover .mob-menu-btn-container {
  background-color: #438000;
}

.mob-menu-btn:focus .mob-menu-btn-container {
  background-color: #356600;
}

.mob-menu-google-img {
  width: 30px;
  height: 29px;
  margin-right: 2px;
}

.mob-btn-text-container {
  display: flex;
  flex-direction: column;
}

.mob-btn-text {
  font-size: 8px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.mob-btn-google-text {
  font-size: 17px;
  line-height: 100%;
}

.mob-btn-green-gradient {
  background: linear-gradient(
    0deg,
    rgba(42, 106, 21, 1) 0%,
    rgba(114, 203, 16, 1) 50%
  );
  border-radius: 12px;
  padding: 2px;
}
