@import 'swiper/css';
@import 'swiper/css/navigation';
.reviews-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.18;
  @include media(desktop) {
    margin-bottom: 36px;
    font-size: 40px;
  }
}
.reviews-btns-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  @include media(desktop) {
    gap: 28px;
  }
}

.reviews-list-item-wrap {
  background-color: $_add_bg_color;
  padding: 10px;
  border-radius: 19px;
  @include media(desktop) {
  }
}

.reviews-avatar-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
  @include media(desktop) {
    gap: 6px;
    margin-bottom: 16px;
  }
}
.reviews-avatar-img {
  width: 29px;
  @include media(desktop) {
    width: 40px;
  }
}
.reviews-avatar-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.18;
  @include media(desktop) {
    font-size: 24px;
  }
}
.reviews-avatar-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.45;
  @include media(desktop) {
    font-size: 19px;
  }
}

.swiper {
  width: 288px;
  @include media(desktop) {
    width: 1144px;
  }
}

.reviews-prev-btn,
.reviews-next-btn {
  width: 23px;
  height: 23px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-bottom: 5px;
  background-color: transparent;
  @include media(desktop) {
    margin-bottom: 25px;
    width: 32px;
    height: 32px;
  }
}

.reviews-btn {
  background-image: url('../images/reviews/arrow-left@1x.png');
}
.reviews-btn:hover {
  background-image: url('../images/reviews/arrow-left-hover@1x.png');
}
.reviews-next-btn {
  transform: rotate(180deg);
}
