@import './header.scss';
@import './home.scss';
@import './benefits.scss';
@import './features.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './cookies-policy.scss';
@import './privacy-policy.scss';
@import './terms-conditions.scss';
@import './cookies-modal.scss';
@import './mob-menu.scss';
:root {
  font-family: 'Nunito Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 28px;
  font-weight: 500;
  color: $_text_color;
  background-color: $_main_bg_color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  margin-top: 26px;
  margin-bottom: 26px;
  @include media(desktop) {
    margin-top: 86px;
    margin-bottom: 86px;
  }
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  @include media(desktop) {
    max-width: 1200px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
