@import './header.scss';
@import './home.scss';
@import './benefits.scss';
@import './features.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './faq.scss';
@import './reviews.scss';
@import './gallery.scss';
@import './footer.scss';
@import './cookies-policy.scss';
@import './privacy-policy.scss';
@import './terms-conditions.scss';
@import './cookies-modal.scss';
@import './mob-menu.scss';
:root {
  font-family: 'Nunito Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 28px;
  font-weight: 500;
  color: $_text_color;
  background-color: $_main_bg_color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  scroll-margin-top: 26px;
  padding-top: 26px;
  padding-bottom: 26px;
  @include media(desktop) {
    scroll-margin-top: 86px;
    padding-top: 86px;
    padding-bottom: 86px;
  }
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  @include media(desktop) {
    max-width: 1200px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

.orange-gradient {
  border-radius: 23px;
  padding: 4px;
  background: rgb(186, 100, 1);
  background: linear-gradient(
    0deg,
    rgba(186, 100, 1, 1) 0%,
    rgba(245, 186, 24, 1) 50%
  );
  @include media(desktop) {
    padding: 6px;
    border-radius: 33px;
  }
}

.dark-orange-gradient {
  background: rgb(178, 95, 1);
  background: linear-gradient(
    0deg,
    rgba(178, 95, 1, 1) 0%,
    rgba(236, 159, 81, 1) 50%
  );
  border-radius: 18px;
  padding: 2px;
  @include media(desktop) {
    border-radius: 24px;
    padding: 3px;
  }
}
.green-gradient {
  background: rgb(42, 106, 21);
  background: linear-gradient(
    0deg,
    rgba(42, 106, 21, 1) 0%,
    rgba(114, 203, 16, 1) 50%
  );
  border-radius: 18px;
  padding: 2px;
  @include media(desktop) {
    border-radius: 24px;
    padding: 3px;
  }
}
